.sidebar {
	width: 281px;
	float: left;
	margin-top: -49px;
	padding-top: 49px;
	margin-right: -281px;
	background-color: #e7c539;
	position: relative;
	z-index: 10;

	&.sticked {
		position: fixed;
		top: 49px;
	}
}