<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper clearfix">
		<div class="layout-footer__border"></div>
		
		<div class="layout-footer__column c1">
			<span class="layout-footer__logo"></span>

			<div class="layout-footer__copiright">© ООО "Теплостройсервис", 2011-2015</div>
			
			<div class="layout-footer__keywords">
				Купить квартиру от застройщика Краснодар,<br>Купить квартиру в новостройке Краснодар
			</div>
		</div>

		<div class="layout-footer__column c2">
			<nav class="layout-footer__navigation" role="navigation">
				<ul class="layout-footer__navigation__list">
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">О компании</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Объекты</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Условия покупки</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Документы</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Контакты</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Новости и акции</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Статьи</a></li>
				</ul>
			</nav>
		</div>

		<div class="layout-footer__column c3">
			<div class="layout-footer__title">Объекты в продаже</div>

			<nav class="layout-footer__navigation" role="navigation">
				<ul class="layout-footer__navigation__list">
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Литер 7</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Литер 8</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">ЖК Трио</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Коммерческая<br>недвижимость</a></li>
					<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__link">Вторичка</a></li>
				</ul>
			</nav>
		</div>

		<div class="layout-footer__column c4">
			<div class="layout-footer__title">Партнеры</div>
	
			<ul class="layout-footer__buttons">
				<li class="layout-footer__buttons__item"><a href="" class="button button_fix button_gray" target="_blank">ТСС окна</a></li>
				<li class="layout-footer__buttons__item"><a href="" class="button button_fix button_orange" target="_blank">ТСС Бетон</a></li>
			</ul>
		</div>
		
		<div class="layout-footer__column c5">
			<div class="layout-footer__phone phone">
				<div class="phone__content">
					<span class="phone__title">Отдел продаж</span>
					<a href="tel:8-861-215-95-53" class="phone__item">215-95-53</a>
					<a href="tel:8-861-259-38-19" class="phone__item">259-38-19</a>
				</div>
			</div>

			<div class="layout-footer__contacts contacts">
				<div class="contacts__content">
					<a href="mailto:tcc93@yandex.ru" class="contacts__item contacts__item_link"><span class="dashed">tcc93@yandex.ru</span></a>
					<a href="" class="contacts__item contacts__item_link"><span class="dashed">Написать нам</span></a>
					<div class="contacts__item">г. Краснодар, ул. Лузана 36</div>
				</div>
			</div>
		</div>

	</div>
</footer>