<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="/" class="layout-header__logo logo">
			<span class="logo__content">
				<span class="logo__title">Теплостройсервис</span>
				<span class="logo__caption">cтроительная компания</span>
			</span>
		</a>
		
		<div class="layout-header__contacts contacts">
			<div class="contacts__content">
				<a href="mailto:tcc93@yandex.ru" class="contacts__item contacts__item_link"><span class="dashed">tcc93@yandex.ru</span></a>
				<a href="" class="contacts__item contacts__item_link"><span class="dashed">Написать нам</span></a>
				<div class="contacts__item">г. Краснодар, ул. Лузана 36</div>
			</div>
		</div>

		<div class="layout-header__phone phone">
			<div class="phone__content">
				<span class="phone__title">Отдел продаж</span>
				<a href="tel:8-861-215-95-53" class="phone__item">215-95-53</a>
				<a href="tel:8-861-259-38-19" class="phone__item">259-38-19</a>
			</div>
		</div>

	</div>
</header>

<nav class="navigation js-stick" id="navigation" role="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
			<li class="navigation__item"><a href="./about.html" class="navigation__link@@if (current == 'about') { current}"><span class="navigation__link__middle" itemprop="name">О компании</span></a></li>
			<li class="navigation__item__separator">|</li>
			<li class="navigation__item navigation__item_submenu js-submenu"><a href="./objects.html" class="navigation__link navigation__link_submenu@@if (current == 'objects') { current}"><span class="navigation__link__middle" itemprop="name">Объекты</span></a>
				<ul class="navigation__item__submenu submenu">
					<li class="submenu__item"><a href="" class="submenu__link">Жилые комплексы</a></li>
					<li class="submenu__item"><a href="" class="submenu__link">Коммерческая недвижимость</a></li>
					<li class="submenu__item"><a href="" class="submenu__link">Вторичная недвижимость</a></li>
				</ul>
			</li>
			<li class="navigation__item__separator">|</li>
			<li class="navigation__item"><a href="./terms.html" class="navigation__link@@if (current == 'terms') { current}"><span class="navigation__link__middle" itemprop="name">Условия покупки</span></a></li>
			<li class="navigation__item__separator">|</li>
			<li class="navigation__item"><a href="./documents.html" class="navigation__link@@if (current == 'documents') { current}"><span class="navigation__link__middle" itemprop="name">Документы</span></a></li>
			<li class="navigation__item__separator">|</li>
			<li class="navigation__item"><a href="./news.html" class="navigation__link@@if (current == 'news') { current}"><span class="navigation__link__middle" itemprop="name">Новости и акции</span></a></li>
			<li class="navigation__item__separator">|</li>
			<li class="navigation__item"><a href="./articles.html" class="navigation__link@@if (current == 'articles') { current}"><span class="navigation__link__middle" itemprop="name">Статьи</span></a></li>
			<li class="navigation__item__separator">|</li>
			<li class="navigation__item"><a href="./contacts.html" class="navigation__link@@if (current == 'contacts') { current}"><span class="navigation__link__middle" itemprop="name">Контакты</span></a></li>
			<li class="navigation__item navigation__item_phone"><a href="tel:8-(861)-215-45-04" class="navigation__phone">8 (861) <strong style="navigation__phone__number">215-45-04</strong></a></li>
		</ul>
	</div>
</nav>

<div class="navigation__sticked"></div>