<aside class="sidebar js-stick" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
	
	<nav class="menu" role="navigation">
		<ul class="menu__list">
			<li class="menu__item"><a href="" class="menu__link current"><span class="menu__link__text">Объекты в продаже</span></a>
				<ul class="menu__submenu">
					<li class="menu__submenu__item"><a href="" class="menu__submenu__link">ЖК Трио (Литер 2)</a></li>
					<li class="menu__submenu__item"><a href="" class="menu__submenu__link">ЖК Восточно-Кругликовский (Литер 7)</a></li>
					<li class="menu__submenu__item"><a href="" class="menu__submenu__link">ЖК Восточно-Кругликовский (Литер 8)</a></li>
				</ul>
			</li>
			<li class="menu__item"><a href="" class="menu__link"><span class="menu__link__text">Коммерческая недвижимость</span></a></li>
			<li class="menu__item"><a href="" class="menu__link"><span class="menu__link__text">Вторичная недвижимость</span></a>
				<ul class="menu__submenu">
					<li class="menu__submenu__item"><a href="" class="menu__submenu__link">ЖК Трио (Литер 2)</a></li>
					<li class="menu__submenu__item"><a href="" class="menu__submenu__link">ЖК Восточно-Кругликовский (Литер 7)</a></li>
					<li class="menu__submenu__item"><a href="" class="menu__submenu__link">ЖК Восточно-Кругликовский (Литер 8)</a></li>
				</ul>
			</li>
			<li class="menu__item"><a href="" class="menu__link"><span class="menu__link__text">Сданные объекты</span></a></li>
		</ul>
	</nav>
	
</aside>