<aside class="sidebar js-stick" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
	
	<nav class="menu" role="navigation">
		<ul class="menu__list">
			<li class="menu__item"><a href="" class="menu__link current"><span class="menu__link__text">О комплексе</span></a></li>
			<li class="menu__item"><a href="" class="menu__link"><span class="menu__link__text">Расположение</span></a></li>
			<li class="menu__item"><a href="" class="menu__link"><span class="menu__link__text">Планировки</span></a></li>
			<li class="menu__item"><a href="" class="menu__link"><span class="menu__link__text">Фотоотчет с места строительства</span></a></li>
		</ul>
	</nav>
	
</aside>