.logo {
	width: 405px;
	height: 54px;
	display: block;
	line-height: 54px;
	font-size: 0;
	font-family: $MyriadPro;
	text-decoration: none;
	background: url(../images/logo.png) 0 50% no-repeat;
	background-image: url(../images/logo.svg);
	background-size: 121px 54px;
	padding-left: 135px;
	
	&__content {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}

	&__title {
		color: #385b73;
		font-size: 2.6rem;
		font-weight: 700;
		line-height: 2.8rem;
		display: inline-block;
		text-transform: uppercase;
	}

	&__caption {
		color: #a5bbc9;
		font-size: 1.2rem;
		font-weight: 300;
		display: inline-block;
	    letter-spacing: 1.17ex;
	}
}