@@include('./components/meta.html', {
	"title": "Main"
})

@@include('./popups/popup.html')

<main class="layout-wrapper">
	@@include('./components/header.html', {
		"current": "documents"
	})

	<div class="layout-wrapper__inner clearfix" itemprop="mainContentOfPage">
		
		@@include('./components/sidebar.html')

		<div class="content">

			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Документы",
				"page3": ""
			})
			
			<div class="content__title">Документы</div>
			
			<ul class="documents">
				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>

				<li class="documents__item">
					<a href="./images/content/document-large.jpg" class="documents__preview zoom">
						<span class="documents__preview__image">
							<span class="documents__preview__more">Просмотр</span>
							<img src="./images/content/document.jpg" alt="" class="documents__preview__image__src">
						</span>
						<span class="documents__preview__name">Именения в проэктную декларацию</span>
					</a>
					<a href="" class="documents__link">скачать</a>
				</li>
			</ul>
			
		</div>

	</div>
</main>

@@include('./components/footer.html')

@@include('./components/scripts.html')