@@include('./components/meta.html', {
	"title": "Новости"
})

@@include('./popups/popup.html')

<main class="layout-wrapper">
	@@include('./components/header.html', {
		"current": "news"
	})

	<div class="layout-wrapper__inner clearfix" itemprop="mainContentOfPage">
		
		@@include('./components/sidebar-second.html')

		<div class="content">

			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Новости",
				"page3": ""
			})
			
			<div class="content__title">Новости</div>

			<article class="news-item clearfix">
				<a href="" class="news-item__image">
					<img src="./images/content/news-image.jpg" alt="" class="news-item__image__src">
				</a>
				<div class="news-item__content">
					<div class="inner">
						<time class="news-item__date">2016-02-05</time>
						<div class="news-item__title">
							<a href="" class="news-item__link">Аккредитация банка  «Открытие»</a>
						</div>
						<div class="news-item__anons">Уважаемые покупатели!<br>Теперь Вы можете купить квартиру в наших жилых комплексах в ипотеку банка "Открытие".  Адрес: г. Краснодар, ул. Красноармейская/им. Володи</div>
						<div class="news-item__more">
							<a href="" class="news-item__more__link">Подробнее</a>
						</div>

						<div class="news-item__border"></div>
					</div>
				</div>
			</article>

			<article class="news-item clearfix">
				<a href="" class="news-item__image">
					<img src="./images/content/news-image.jpg" alt="" class="news-item__image__src">
				</a>
				<div class="news-item__content">
					<div class="inner">
						<time class="news-item__date">2016-02-05</time>
						<div class="news-item__title">
							<a href="" class="news-item__link">Аккредитация банка  «Открытие»</a>
						</div>
						<div class="news-item__anons">Уважаемые покупатели!<br>Теперь Вы можете купить квартиру в наших жилых комплексах в ипотеку банка "Открытие".  Адрес: г. Краснодар, ул. Красноармейская/им. Володи</div>
						<div class="news-item__more">
							<a href="" class="news-item__more__link">Подробнее</a>
						</div>

						<div class="news-item__border"></div>
					</div>
				</div>
			</article>

			<article class="news-item clearfix">
				<a href="" class="news-item__image">
					<img src="./images/content/news-image.jpg" alt="" class="news-item__image__src">
				</a>
				<div class="news-item__content">
					<div class="inner">
						<time class="news-item__date">2016-02-05</time>
						<div class="news-item__title">
							<a href="" class="news-item__link">Аккредитация банка  «Открытие»</a>
						</div>
						<div class="news-item__anons">Уважаемые покупатели!<br>Теперь Вы можете купить квартиру в наших жилых комплексах в ипотеку банка "Открытие".  Адрес: г. Краснодар, ул. Красноармейская/им. Володи</div>
						<div class="news-item__more">
							<a href="" class="news-item__more__link">Подробнее</a>
						</div>

						<div class="news-item__border"></div>
					</div>
				</div>
			</article>

			<article class="news-item clearfix">
				<a href="" class="news-item__image">
					<img src="./images/content/news-image.jpg" alt="" class="news-item__image__src">
				</a>
				<div class="news-item__content">
					<div class="inner">
						<time class="news-item__date">2016-02-05</time>
						<div class="news-item__title">
							<a href="" class="news-item__link">Аккредитация банка  «Открытие»</a>
						</div>
						<div class="news-item__anons">Уважаемые покупатели!<br>Теперь Вы можете купить квартиру в наших жилых комплексах в ипотеку банка "Открытие".  Адрес: г. Краснодар, ул. Красноармейская/им. Володи</div>
						<div class="news-item__more">
							<a href="" class="news-item__more__link">Подробнее</a>
						</div>

						<div class="news-item__border"></div>
					</div>
				</div>
			</article>

			<article class="news-item clearfix">
				<a href="" class="news-item__image">
					<img src="./images/content/news-image.jpg" alt="" class="news-item__image__src">
				</a>
				<div class="news-item__content">
					<div class="inner">
						<time class="news-item__date">2016-02-05</time>
						<div class="news-item__title">
							<a href="" class="news-item__link">Аккредитация банка  «Открытие»</a>
						</div>
						<div class="news-item__anons">Уважаемые покупатели!<br>Теперь Вы можете купить квартиру в наших жилых комплексах в ипотеку банка "Открытие".  Адрес: г. Краснодар, ул. Красноармейская/им. Володи</div>
						<div class="news-item__more">
							<a href="" class="news-item__more__link">Подробнее</a>
						</div>

						<div class="news-item__border"></div>
					</div>
				</div>
			</article>

		</div>

	</div>
	
</main>

@@include('./components/footer.html')

@@include('./components/scripts.html')